@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.link {
  text-transform: uppercase;
  word-spacing: 10px;
  text-indent: 20px;
  font-size: 30px;
  color: crimson;
  font-weight: 900;
}
h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1E212C;
}
h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1E212C;
}